<div class="titulo">
    <h1 class = "encabezado"> <b>Nuevo Usuario</b></h1>    
</div>
<div class="carta">
    
    <mat-card>
        <div class="cardTitle">
            <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
            <!-- dejar dentro del form -->
            <mat-card-title > 
                
                Informacion de nuevo usuario
            </mat-card-title>
        </div>
        <div>
            <mat-card-content><app-form-user></app-form-user></mat-card-content>
        </div>
        
        
    </mat-card>
</div>

<router-outlet></router-outlet>