.cardTitle{

    align-items : center;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-bottom:2%;
  
  }
  .cardTitle mat-card-title{
      margin-left: 1%;
      margin-bottom:0;
      margin-top:0;
      margin-right: 0;
  
  }
  
  
  textarea.mat-input-element{
  
      height: 6em;
      resize: vertical;
      
  }
  .divInfoRegistro{
      justify-content: space-evenly;
      display: flex;
      
      align-items: center;
      width: 100%;
      height: auto;
      margin: 0;
  }
  
  
  .divInfoRegistro h3{
  
      margin:0;
      font-weight: 500;
      padding-bottom: 18.82px;
      
  }
  .fechaIngreso{
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 42.5%;
  }

  .fechaNacimiento{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 42.5%;
  }
  .escolaridad{
      justify-content: space-around;
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 42.5%;
  }
  
  .fechaIngreso mat-form-field{
      width: auto;
  }
  
  .fechaNacimiento mat-form-field{
      width: auto;
  }
  .escolaridad mat-form-field{
      width: auto;
  }
  
  .divContenido{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      height: auto;
      margin-left: 5%;
      margin-right: 5%;
  }
  
  .divContenido mat-form-field{
      width: 100%;
  }
  
  .divBotonRegistrarAnamnesis{
      justify-content: center;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
  }
  
  
  .divBotonRegistrarAnamnesis button{
      justify-content: center;
      width: 100%;
      height: 50px; 
      margin-top: 3%;
      margin-bottom: 3%;
      background-color: rgba(58, 215, 98, 1);
      color: white;
      font-size: x-large;
      font-weight: 900;
      letter-spacing: 0.2em;
  }
  