<div class = "Sesiones">
  <div class="divBotonRegistrar">
    <button (click)="registrarSesion()" mat-raised-button>Registrar sesión</button>
  </div>

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar">
  </mat-form-field>
  
  
  <mat-card>
    <table mat-table [dataSource]="dataSource" class="table" matSort>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Fecha</b></th>
        <td mat-cell *matCellDef="let element">{{element.fecha| date: "dd-MM-y"}}</td>
      </ng-container>

      <ng-container matColumnDef="tipo_sesion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Especialidad</b></th>
        <td mat-cell *matCellDef="let element">{{element.tipo_sesion}}</td>
      </ng-container>

      <ng-container matColumnDef="profesional">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Profesional</b></th>
        <td mat-cell *matCellDef="let element">{{element.profesional}}</td>
      </ng-container>

      <ng-container matColumnDef="formato_presencial">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Formato</b></th>
        <td mat-cell *matCellDef="let element">{{element.formato_presencial}}</td>
        <!-- <td mat-cell *matCellDef="let element"><button mat-flat-button *ngIf="element.formato_presencial">Presencial</button></td> -->
      </ng-container>

      <ng-container matColumnDef="privada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Estado</b></th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.privada; else elseBlock">
            <mat-icon aria-hidden="false" fontIcon="lock"></mat-icon>
          </div>
          <ng-template #elseBlock>
            <mat-icon aria-hidden="false" fontIcon="lock_open"></mat-icon>
          </ng-template>
        </td>
        
        

        <!-- <td mat-cell *matCellDef="let element"><button mat-flat-button *ngIf="element.privada">Privada</button></td> -->
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    <!-- <tr mat-row (click)="clickedRows.add(row)" (click)= "prueba()" *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr mat-row  (click)= "goToSesion(row.id)" *matRowDef="let row; columns: displayedColumns;"></tr>
    
    </table>

    <!-- caso no hay sesiones registradas -->
    <div *ngIf="loading; else noHayDatos">
      cargando
    </div>
    <ng-template #noHayDatos>
        <div *ngIf="noCoincidencias">
            <h3>No sesiones registradas</h3>
        </div>
    </ng-template>

    <div class = "paginador">
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons 
          aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card>

  

</div>


